.msg {
  // display: flex;

  &--inbox {
    background-color: #f9fbfd;
    height: 100%;
    min-width: 16rem;
    cursor: pointer;
    overflow-y: scroll;

    max-height: 36rem;

    &,.active{
      .msg__inbox{
        display:none;
      }
    }
  }


  &--conversation {
    padding: 1.5rem;
    background-color: white;
    height: 100vh;

    time {
      font-size: 1rem;
      color: #cccccc;
    }

  }
}
