<div [class]="'row msg ' + isActive">
  <div class="msg--inbox">
    <app-inbox-message [data]="messages" (active)="showMe($event)"></app-inbox-message>
  </div>

  <div class="msg--conversation" *ngIf="singleMessage">
    <time>{{singleMessage.created | date}}</time>
    <h3>{{singleMessage.question}}</h3>
    <span class="label--blue"> {{singleMessage.desiredDoctor}}</span>
    <p> {{singleMessage.question}} </p>

    <div *ngFor="let item of singleMessage.reply">
      <hr>
      {{item.message}}
    </div>
    <div class="form--reply">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

        <textarea [(ngModel)]="message" name="message">

        </textarea>
        <button class="button--blue">Send</button>
      </form>

    </div>
  </div>

</div>
