<div [class]="'row msg ' + isActive">
  <div class="msg--inbox">
    <app-inbox-message [data]="messages" (active)="showMe($event)"></app-inbox-message>
  </div>
  <div class="msg--conversation" *ngIf="!singleMessage.created">
    <h3>Select a consultation archive</h3>
  </div>
  <div class="msg--conversation" *ngIf="singleMessage.created">
    <time>{{singleMessage.created | date}}</time>
    <h3>{{singleMessage.question}}</h3>
    <span class="label--blue"> {{singleMessage.desiredDoctor}}</span>
    <p> {{singleMessage.question}} </p>

    <div *ngFor="let item of singleMessage.reply">
      <div class="msg--card">
        <img class="avatar" src={{item.userRef.account.avatar}} />
        <div class="msg--card--box">
          <p> {{item.userRef.account.name}}</p>
          <p class="msg--card--date"> {{item.date | date }}</p>
        </div>
        <div></div>
        {{item.message}}
      </div>
    </div>

    <div *ngIf="successMessage">
      {{successMessage}}
    </div>

    <div class="form--reply">
      <form #f="ngForm" (ngSubmit)="onReply(f)" novalidate>
        <textarea [(ngModel)]="message" name="message">
        </textarea>
        <button class="button--blue">Send</button>
      </form>
    </div>
  </div>

</div>
