<div class="containner-inner">
  <h3>Payment history</h3>

  <div class="payment--table">
    <table>
      <tr>
        <th>Membership</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
      <tbody>
        <tr>
          <td>6 Months</td>
          <td>June, 6 2019</td>
          <td>
            <span class="label--paid">
              Paid
            </span>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <button class="button--blue">Make a payment</button>
</div>
