<div *ngIf="payment" class="containner-inner">
  <h3>Payment history</h3>
  <div class="payment--table">
    <table>
      <tr>
        <th>Membership</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
      <tbody>
        <tr *ngFor="let resp of payment">
          <td>Online consultation</td>
          <td>{{ resp.date | date }}</td>
          <td>
            <span class="label--paid">
              {{resp.status}}
            </span>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <button class="button--blue">Make a payment</button>
</div>
