.payment--table {
  padding: 1.5rem;
  background-color: white;
  border: solid 1px whitesmoke;
  border-radius: .5rem;
  margin-bottom: 2rem;

  table {

    width: 100%;
    text-align: left;
    border-collapse: collapse;


    tr {
      line-height: 3;
      border-bottom: solid 1px gainsboro;
          font-size: .7rem;
    }
  }

}


.label--paid {
  background-color: #31f319;
  padding: .5rem;
  font-size: .7rem;
  border-radius: .5rem;

}
