.card-login {
  width: 31rem;
  margin: 0 auto !important;
  display: block;
  left: 0;
  right: 0;
  margin-top: 5rem !important;
  background-color: white;
  padding: 1.5rem;
}


.background--overlay {
  background-color: #232940;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: -5rem;
}
