<ul>
  <!-- <li>
    <a [routerLink]="['/home']"> Home</a>
  </li> -->
  <li [routerLink]="['']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
    <a> Home</a>
  </li>

  <li [routerLink]="['/messages']" routerLinkActive="active-link">
    <a> Messages</a>
  </li>
  <li [routerLink]="['/recommendations']" routerLinkActive="active-link">
    <a> Recommendations</a>
  </li>
  <li [routerLink]="['/billing']" routerLinkActive="active-link">
    <a> Billing</a>
  </li>

</ul>
