<div class="containner-inner">

  <div class="row">
    <div class="card card__item">
      <div>
        <img class="card__avatar" src="https://st2.depositphotos.com/2703645/7676/v/950/depositphotos_76762205-stock-illustration-male-avatar-icon.jpg" />
        <h2>Jhon Doe</h2>
        <p>Email: jhonDoe@gmail.com</p>
        <p>Membership Active: Free trial</p>
      </div>
    </div>

    <div class="card card__item">
      <div>
        <h3>Nofitications:</h3>

        <div class="notification">
          <span>You don't have any notifications at this time</span>
        </div>
      </div>
    </div>
  </div>

  <datalist id="languages">
    <option value="HTML">
    <option value="CSS">
    <option value="JavaScript">
    <option value="Java">
    <option value="Ruby">
    <option value="PHP">
    <option value="Go">
    <option value="Erlang">
    <option value="Python">
    <option value="C">
    <option value="C#">
    <option value="C++">
  </datalist>


  <h2>Ask the doctor</h2>
  <div class="card">
    <div class="form--layout">
      <div>
        <label>Your question:</label>
        <input type="text">
      </div>
      <div class="row">
        <div class="form--50">
          <label>Doctor (optional)</label>
          <input type="text" list="languages">
        </div>

        <div class="form--50">
          <label>File (otional)</label>
          <input type="file">
        </div>
      </div>



      <label>Additional information:</label>
      <textarea></textarea>
    </div>
    <button class="button--blue">Make a payment</button>

  </div>

</div>
