@import '../../../sass/media.scss';

.card {
  padding: 1rem;
  background-color: white;
  border: solid 1px whitesmoke;
  border-radius: 5px;

  &__item {
    width: 100%;
    margin: 2%;
    background-color: white;
    padding: 2rem;
    text-align: center;
    display: inline-block;

    @include tablet {
      width: 48%;
    }
  }

  &__avatar {

    width: 5rem;
    border-radius: 5rem;
  }


}



.form--layout {

  .form--50 {
    width: 48%;
    display: inline-block;
    margin: 2%;
  }


}
