<div *ngIf="profile" class="containner-inner">

  <div class="row">
    <div class="card card__item">
      <div>
        <img class="card__avatar" src="https://st2.depositphotos.com/2703645/7676/v/950/depositphotos_76762205-stock-illustration-male-avatar-icon.jpg" />
        <h2>{{ profile.user.account.name}}</h2>
        <p>Email: {{ profile.user.account.email}}</p>
        <!-- <p>Membership Active: Free trial</p> -->
      </div>
    </div>

    <div class="card card__item">
      <div>
        <h3>Nofitications:</h3>

        <div class="notification">
          <!-- <span>You don't have any notifications at this time</span> -->
          <div *ngIf="profile.user.account.availableCredits">
            <span>You have {{profile.user.account.availableCredits.length}} consultations paid</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <datalist id="languages">
    <option value="HTML">
    <option value="CSS">
    <option value="JavaScript">
    <option value="Java">
    <option value="Ruby">

  </datalist>


  <h2>Ask the doctor</h2>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate class="card">
    <div *ngIf="formStatus == 'summited'" class="success--button">
      Your consultation has been successfully submitted.
    </div>
    <div *ngIf="formStatus == 'error'" class="alert--warning">
      You don't have any consultations paid at this momment
    </div>
    <div class="form--layout">
      <div>
        <label>Your question:</label>
        <input [(ngModel)]="model.question" name="question" type="text">
      </div>
      <div class="row">
        <div class="form--50">
          <label>Doctor (optional)</label>
          <input [(ngModel)]="model.doctor" name="doctor" type="text" list="languages">
        </div>
      </div>

      <label>Additional information:</label>
      <textarea [(ngModel)]="model.details" name="details"></textarea>
    </div>
    <button class="button--blue">Submit consultation</button>

  </form>

</div>
